<h2 class="post-list-heading">js特效</h2>
<ul class="post-list">
    {%- for post in site.categories["js"] -%}
    <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h4>
            <a class="post-link" href="{{ post.url | relative_url }}" target="_blank">
                {{ post.title | escape }}
            </a>
        </h4>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul>